<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script type="text/javascript">

    window.onload = function () {
        console.log("Checkout onload");

        fetch('http://localhost:8081/zahlungsarten')
            .then(function(response) {
                return response.text();
            })
            .then(function(data) {
                //html transklusion:
                var element = document.getElementById('zahlungsarten-checkout-content');
                if(element){
                    element.innerHTML = data;
                }
                //Nachgeladenes JavaScript explicit ausführen
                var arr = element.getElementsByTagName('script')
                for (var n = 0; n < arr.length; n++)
                    eval(arr[n].innerHTML)


            });

        // Listen for the event.
        window.addEventListener('zahlungsart-ausgewaehlt', function (event) {
            console.log("Event: zahlungsart-ausgewaehlt event im Checkoutservice erhalten:");
        }, false);


    };



</script>

<body>

    <!-- ausgewähltes Produkt -->
    <div>
        <h1>Produkt auswählen</h1>
        <div>...</div>
    </div>

    <!-- Auswahl der Zahlungsart -->
    <div>
        <h1>Zahlungsart</h1>
        <!-- Wird durch client side include ersetzt -->
        <div id="zahlungsarten-checkout-content"></div>
    </div>

    <!-- Kauf/Abschluss -->
    <div>
        <h1>Abschluss</h1>
        <button type="button">Kaufen</button>
    </div>



</body>
</html>