<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="js/checkout.js"></script>
</head>

<body>

    <!-- ausgewähltes Produkt -->
    <div>
        <h1>Produkt auswählen</h1>
        <div>...</div>
    </div>

    <!-- Auswahl der Zahlungsart -->
    <div>
        <h1>Zahlungsart</h1>
        <!-- Wird durch client side include ersetzt -->
        <div id="zahlungsarten-checkout-content"></div>
    </div>

    <!-- Kauf/Abschluss -->
    <div>
        <h1>Abschluss</h1>
        <button type="button" id="kaufen-button">Kaufen</button>
    </div>

</body>
</html>